# Source - https://stackoverflow.com/a/64555010
# Posted by Ernesto Elsäßer, modified by community. See post 'Timeline' for change history
# Retrieved 2026-03-07, License - CC BY-SA 4.0

[MESSAGES CONTROL]

disable=missing-docstring,empty-docstring

[MASTER]
init-hook='import sys; import os; sys.path.append("./src"); [sys.path.append(p) for p in ["./.venv/lib/python3.14/site-packages", "./.venv/lib64/python3.14/site-packages"] if os.path.exists(p)]'
